<!-- templateのdirの中にはhtmlファイルを入れる-->
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    <!-- ここにクエストリングを代入する　-->
  </head>
  <body>
    <!-- if文による制御を足す
    特別な文字列のときの処理、クエストリングがあるときの処理、それ以外の処理等分けることが可能
    制御自体は{if}...{elif}..{else}...{endif}で可能
  -->
    {% if name == "massaman" %}
    <h1>スペシャル{{name}}神社</h1>
    {% elif name %}
    <h1>{{name}}神社</h1>
    {% else %}
    <h1>ただの神社</h1>
    {% endif %}
    <!-- form 部分の作成 POST処理をする際の話を書く -->
    <form action="/index" method="POST">
      <input type="text" name="name" placeholder="Enter Name">
      <input type="submit" value="Submit">
    </form>
    
    <!-- 画像をぶち込むときは普通にpath指定して書いてOK -->
    <img src="/static/images/torii.png" alt="鳥居">
    {% for word in okyo %}
    <p>{{word}}</p>
    {% endfor %}
    <!-- flaskのfor制御　基本的にはpythonの書き方と同じで,endforがつく -->
  </body>
</html>
